body{
   width:500px;
   height:100px;
   display:inline-block;
   }
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body { font: italic 1.2em "Fira Sans", serif; background: white; color: black; }
a    { text-decoration: none; }
p    { text-align: center; }
sup  { font-size: 36px; font-weight: 100; line-height: 55px; }


.button
{
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;  border-radius: 4px;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  
  margin: 5em auto;
  
  position: relative;
    top: initial;
    right: 100px;
    bottom: 140px;
    left: 120px;
  
  padding: 10px 0;
  width: 50%;
  height:5%;

  background: red;
  border: 1px solid red;
  color: #FFF;
  overflow: hidden;
  
  transition: all 0.5s;
}

.button:hover, .button:active 
{
  text-decoration: none;
  color: #0C5;
  border-color: red;
  background: #FFF;
}

.button span 
{
  display: inline-block;
  position: relative;
  padding-right: 0;
  
  transition: padding-right 0.5s;
}

.button span:after 
{
  content: ' ';  
  position: absolute;
  top: 0;
  right: -18px;
  opacity: 0;
  width: 10px;
  height: 10px;
  margin-top: -10px;

  background: rgba(0, 0, 0, 0);
  border: 3px solid green;
  border-top: none;
  border-right: none;

  transition: opacity 0.5s, top 0.5s, right 0.5s;
  transform: rotate(-45deg);
}

.button:hover span, .button:active span 
{
  padding-right: 30px;
}

.button:hover span:after, .button:active span:after 
{
  transition: opacity 0.5s, top 0.5s, right 0.5s;
  opacity: 1;
  border-color: #0C5;
  right: 0;
  top: 50%;
}

#p2
{
  padding-top: 0px;
	font-size:20px;
  font-family: 'Lobster', cursive;
	display:inline-block;
}
#p1
{
  border-radius: 15px;
  background: #73AD21;
  text-align:center;
  padding: 20px; 
  font-family: 'Dancing Script', cursive;
  font-style: normal;
}
#div1
{
	vertical-align: middle; 
	line-height: 50px; /* the same as your div height*/
	text-align:center;
	font-size:30px;
  margin-top: -250px;
  border: 3px solid black;
}
#shw
{
  display: none;
}